{% extends 'base.html'%}

{% block title %}
    System guide
{% endblock %}



{% block content %}
    
    <div class="container">
        <H1 class="h1">Guide</H1>
    </div>
    <div class="container">
        <p>
            Lorem ipsum, dolor sit amet conse
            Lorem ipsumLorem ipsum, dolor sit amet conse
            Lorem ipsum, dicta excepturi, recusandae odit voluptatibus ea debitis
              delectus animi doloremque iure, qui numquam aliquid dolores.
            ctetur adipisicing elit. Ipsam quisquam porro beatae distinctio
             est repudiLorem ipsum, dolor sit amet conse

             ctetur adipisicing elit. Ipsam quisquam porro beatae distinctio
              est repudiandae dicta excepturi, recusandae odit voluptatibus ea debitis
               delectus animi doloremque iure, qui numquam aliquid dolores.i doloremque iure, qui numquam aliquid dolores., dolor sit amet conse
            Lorem ipsum, dolor sit amet conse
            Lorem ipsum, dolor sit amet conse
            Lorem ipsum, dolor sit amet conse

            ctetur adipisicing elit. Ipsam quisquam porro beatae distinctio
             est repudiandae dicta excepturi, recusandae odit voluptatibus ea debitis
              delectus animi doloremque iure, qui numquam aliquid dolores.
            ctetur adipisicing elit. Ipsam quisquam porro beatae distinctio
             est repudiandae dicta excepturi, recusandae odit voluptatibus ea debitis
              delectus animi doloremque iure, qui numquam aliquid dolores.
            ctetur adipisicing elit.Lorem ipsum, dolor sit amet conse

            ctetur adipisicing elit. Ipsam quisquam porro beatae distinctio
             est repudiandae dicta excepturi, recusandae odit voluptatibus ea debitis
              delectus animi doloremque iure, qui numquam aliquid dolores.qui numquam aliquid dolores.
            ctetur adipisicing elit. Ipsam quisquam porro beatae distinctio
             est repudiandae dicta excepturi, recusandae odit voluptatibus ea debitis
              delectus animi doloremque iure, qui numquam aliquid dolores.
            ctetur adipisicing elit. Ipsam quisquam porro beatae distinctio
             est repudiandae dicta excepturi, recusandae odit voluptatibus ea debitis
              delectus animi doloremque iure, qui numquam aliquid dolores.
        </p>
    </div>
{% endblock %}

